.bigcard__container{
   /* border: 1px solid red;*/

    width: 400px;
    height: 400px;
    display: flex;
  
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.big-card__photo > img{
   width: 100%; 
     
}

.big-card__title > h2{
    font-size: 20px;
    margin-top: 15px;
}

.big-card__description > p{
    font-size: 12px;
    font-weight: 300;
    color: grey;
    margin-top: 10px;
}