<div class="bigcard__container">

    <div class="big-card__photo">
        <img 
        src="{{ photoCover }}" alt="Imagem plaholder">
    </div>

    <a href="https://www.google.com" target="_blank">
        <div class="big-card__title">
            <h2>{{ cardTitle }}</h2>
        </div>
        <div class="big-card__description">
            <p> {{ cardDescription }} 
                <!--
                 Individuais (MEIs) regularmente atuantes no mercado formal de São José que prestarem serviços para pessoas jurídicas deverão passar a emitir suas Notas Fiscais de Serviço no padrão nacional, pelo site do Governo Federal, e não mais pelo sistema online da Prefeitura.
            -->
            </p>
        </div>
    </a>
</div>