<div class="bigcard__container">

    <div class="big-card__photo">
        <img src="https://s2-g1.glbimg.com/jfVlBdekH1lJIMU7HEK12dBVNms=/0x0:804x479/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/R/F/Vt2xxQSfyFPIk6RCwMdw/captura-de-tela-2023-08-25-104831.png" alt="Imagem plaholder">
    </div>

    <div class="big-card__title">
        <h2>Nova Atualização para MEI</h2>
    </div>

    <div class="big-card__description">
        <p>A obrigatoriedade de emissão da Nota Fiscal de Serviços eletrônica (NFS-e) em sistema nacional, começa a valer a partir do próximo dia 1º de setembro. A partir desta data, todos os Microempreendedores ...
            <!--
             Individuais (MEIs) regularmente atuantes no mercado formal de São José que prestarem serviços para pessoas jurídicas deverão passar a emitir suas Notas Fiscais de Serviço no padrão nacional, pelo site do Governo Federal, e não mais pelo sistema online da Prefeitura. 
        -->
        </p>
    </div>
</div>