<div class="container__small-card">

    <div class="small-card__photo">
        <img src="{{photoCover}}"
            alt="">
    </div>

    <div class="small-card__title">
        <a href="#"> 
            <h2>{{ cardTitle }}

                <!-- ENIT - Escola Nacional da Inspeção do Trabalho, ligada à Secretaria de Inspeção do Trabalho, órgão do Ministério do Trabalho e Emprego, lançou um curso online gratuito sobre os eventos de processos trabalhistas no eSocial.

                O curso, que traz orientações detalhadas, será implantado em duas etapas: a primeira etapa, já disponibilizada, trata da escrituração do evento S-2500 (Processo Trabalhista); a segunda etapa, a ser disponibilizada em meados de setembro/23, abordará a escrituração dos eventos S-2501 (Informações de Tributos Decorrentes de Processo Trabalhista) e S-3500 (Exclusão de Eventos - Processo Trabalhista).-->

            </h2>
            <p>{{ cardDescription }}</p>
        </a>
    </div>

</div>